h1 {
 color:rgb(98, 46, 219)
}

/* * {
    border: solid
} */

.header {
    background-color: rgb(141, 141, 158);
    display:flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p,h2 {
text-align: center;
}